.card{
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsl(0, 0%, 38%);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.welcome-message{
  font-size: 2.5em;
  background-color: rgb(18, 229, 50);
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}

.login-prompt{
  font-size: 2.5em;
  background-color: rgb(229, 18, 18);
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}
